<!-- prettier-ignore -->
{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}
  {% trans "Sign In" %}
{% endblock %}
{% block content %}
  <div class="flex justify-center py-10">
    <div class="card bg-base-100 w-full max-w-md shadow">
      <div class="card-body">
        <h1 class="text-3xl font-bold">{% trans "Sign In" %}</h1>
        <p class="text-sm">
          {% blocktrans %}Welcome back. If you have not created an account yet, then
        <a class="link link-primary" href="{{ signup_url }}">sign up</a>
        first.{% endblocktrans %}
        </p>
        <form id="login_form"
              class="space-y-4"
              method="post"
              action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
            <input type="hidden"
                   name="{{ redirect_field_name }}"
                   value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-primary w-full" type="submit">{% trans "Sign In" %}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
