<!-- prettier-ignore -->
{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
  {% trans "Sign Out" %}
{% endblock %}
{% block content %}
  <div class="flex justify-center py-10">
    <div class="card bg-base-100 w-full max-w-md shadow">
      <div class="card-body">
        <h1 class="text-3xl font-bold">{% trans "Sign Out" %}</h1>
        <p class="text-sm">{% trans 'Are you sure you want to sign out?' %}</p>
        <form class="space-y-4" method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
            <input type="hidden"
                   name="{{ redirect_field_name }}"
                   value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-secondary w-full" type="submit">{% trans 'Sign Out' %}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
