{% load static %}
{% url 'home' as home_url %}
{% load static tailwind_tags %}
{% url 'account_login' as login_url %} {% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
<!DOCTYPE html>
<html class="h-full" lang="en">
  <head>
    <title>Know How</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <!-- Tailwind CSS -->
    {% tailwind_css %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Custom JS -->
    <script src="{% static 'js/index.js' %}"></script>
  </head>
  <body class="flex flex-col h-full">
    <!-- Navigation -->
    <nav class="border-b border-gray-200">
      <div class="max-w-7xl sm:px-6 lg:px-8 px-4 mx-auto">
        <div class="flex justify-between h-16">
          <div class="flex items-center">
            <a class="" href="{{ home_url }}"><span class=""><span class="text-red-500">know</span>How</span></a>
          </div>
          <ul class="menu menu-horizontal">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link"
                   href="{% url 'profiles:profile' username=user.username %}">My Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == logout_url %}active{% endif %}"
                   aria-current="page"
                   href="{% url 'account_logout' %}">Logout</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == signup_url %}active{% endif %}"
                   aria-current="page"
                   href="{% url 'account_signup' %}">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == login_url %}active{% endif %}"
                   aria-current="page"
                   href="{% url 'account_login' %}">Login</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <main class="max-w-7xl sm:px-6 lg:px-8 flex-grow px-4 mx-auto">
      {% block content %}
        <!-- Content Goes here -->
      {% endblock content %}
    </main>
    <!-- Footer -->
    <footer class="py-3 mt-auto bg-gray-500">
      <p class="m-0 text-center text-white">**Footer content goes here**</p>
    </footer>
  </body>
</html>
